body {
  border: 0;
  padding: 0;
  margin: 0;
  background: #FCFCF1;
  color: rgb(119, 85, 23);
}

div#details {
  background: #444;
  color: #D8C5B8;
  font-size: 80%;
  font-family: sans-serif;
}

div#details div {
  padding: 10px;
  padding-bottom: 0px;
}

div#details div.code {
  color: #51D2F9;
  font-size: 120%;
  font-family: monospace;
}

div#footer {
  margin-top: 5px;
  border-top: solid 1px #D8C5B8;
  padding-top: 5px;
  font-style: italic;
}

div#footer a {
  text-decoration: none;
  color: #FFF1E7;
}

div#content p {
  padding: 10px;
}

div.btn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
	background: #CFDED9;
	border: solid 1px white;
	border-bottom: solid 1px #2E5649;
	cursor: pointer;
	color: black;
	font-family: arial;
	font-size: 17px;
	text-decoration: none;
}

