body {
  border: 0;
  padding: 0;
  margin: 0;
  background: #FCFCF1;
  color: rgb(119, 85, 23);
}

div#details {
  background: #444;
  color: #D8C5B8;
  font-size: 80%;
  font-family: sans-serif;
}

div#details div.code {
  color: #51D2F9;
  font-size: 120%;
  font-family: monospace;
}

div#details-footer {
  padding: 5px;
  font-style: italic;
}

div#details-footer div.link {
  float: left;
}

div#details-footer div.more {
  float: right;
}

div#details-footer a {
  text-decoration: none;
  color: #FFF1E7;
}

div#details-blurb {
  display: none;
  border-top: solid 1px #D8C5B8;
  padding: 5px;
}

div#content p {
  padding: 10px;
}

div.txt {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

div.txt input {
  margin: 0px;
  padding: 0px;
  border: solid 1px black;
  width: 95%;
  padding-left: 10px;
  font-family: arial;
	font-size: 17px;
	line-height: 37px;
}

div.btn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
	background: #CFDED9;
	border: solid 1px white;
	border-bottom: solid 1px #2E5649;
	cursor: pointer;
	color: black;
	font-family: arial;
	font-size: 17px;
	text-decoration: none;
}

div.card {
  margin: 10px;
  padding: 0px;
	border: solid 1px #d5d5d5;
	background: white;
}

div.card div.header {
  padding: 4px;
  border-bottom: solid 1px #d5d5d5;
  font-size: 14px;
  line-height: 18px;
  color: black;
}

div.card div.cbody {
  position: relative;
}

.circle{
  width:30px;
  height:30px;
  border-radius:15px;
  font-size:10px;
  color:white;
  line-height:30px;
  text-align:center;
  background:red;
}

div.card div.cbody div.blurb {
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  float: left;
  width: 80%;
}

div.card div.cbody div.nav {
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  float: right;
  width: 10%;
}


div#log {
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background: #444;
  color: yellow;
  font-family: monospace;
  font-size: 80%;
}

