body {
  background: #c2d2e2;
  font-family: sans-serif;
}

div#content {
  padding: 20px;
  border: solid 1px gray;
  background: white;
  color: #444;
  width: 640px;
  height: 640px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}