/* BASE STYLES
============================================================================= */
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

#header {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  background: teal;
  color: white;
}

#header h1 {
  font-size: 20px;
}

.page-holder {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
}

.page { 
	bottom:0; 
	padding-top:20px;
	position:absolute; 
	text-align:center;
	top:0;  
	width:100%; 
	background: #e5e5e5;
	overflow-y: scroll;
}

.page h1 	{ font-size:20px; }
.page a     { margin-top:50px; }
.page p { text-align:left; padding: 10px; }

/* PAGES
============================================================================= */
.page-home 		{ background2:#00D0BC; color:#00907c; }
.page-about 	{ background2:#E59400; color:#a55400; }
.page-contact 	{ background2:#ffa6bb; color:#9e0000; }

/* ANIMATIONS
============================================================================= */

.page.ng-leave, .page.ng-enter { 
  z-index:7777; 
  border-left2: solid 1px gray;
}
.page-home.ng-leave, .page-home.ng-enter 	{ z-index:6666; }

@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}


/* page specific animations ------------------------ */



/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}


@keyframes slideInLeft {
	from 	{ transform:translateX(-50%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
	from 	{ -moz-transform:translateX(-50%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
	from 	{ -webkit-transform:translateX(-50%); }
	to 		{ -webkit-transform: translateX(0); }
}

@keyframes slideOutRight {
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutRight {
	to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutRight {
	to 		{ -webkit-transform: translateX(100%); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-50%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-50%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-50%); }
}


/* home -------------------------- */
.page-home.ng-leave         {
  -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in; 
}
.page-home.ng-enter 		{  
  -webkit-animation:slideInLeft 0.5s both ease-in;
	-moz-animation:slideInLeft 0.5s both ease-in;
	animation:slideInLeft 0.5s both ease-in;    
}

/* about ------------------------ */
.page-about.ng-leave        {
  -webkit-animation:slideOutRight 0.5s both ease-in;
	-moz-animation:slideOutRight 0.5s both ease-in;
	animation:slideOutRight 0.5s both ease-in;   
}
.page-about.ng-enter 		{  
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    
}

/* contact ---------------------- */
.page-contact.ng-leave      {
  -webkit-animation:slideOutRight 0.5s both ease-in;
	-moz-animation:slideOutRight 0.5s both ease-in;
	animation:slideOutRight 0.5s both ease-in;  
}
.page-contact.ng-enter 		{ 
  -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;  
}
