body {
  margin: 0;
  padding: 0;
}

iframe.fun {
  height: 100%;
  display: none;
  border: 0px;
}

iframe.trans-linear {
  -webkit-transition: transform 0.35s linear;
}

iframe.trans-ease-out {
  -webkit-transition: transform 0.35s ease-out;
}

iframe.trans-ease-in {
  -webkit-transition: transform 0.35s ease-in;
}

iframe.trans-ease {
  -webkit-transition: transform 0.35s ease;
}

div#header {
  position: fixed;
  top: 10px;
  width: 100%;
  height: 72px;
  background: #009688;
  color: white;
  z-index: 200;
}

div#page-header {
  padding: 20px;
}

div#page-title {
  float: left;
  font-size: 1.4em;
  padding-left: 10px;
}

div.action-icon {
  cursor:pointer;
  padding-left: 5px;
  padding-right: 5px;
}

div.action-icon a {
  font-size: 1.4em;
  color: white;
  text-decoration: none;
}

#main {
  background: gray;
}

div#page {
  z-index: 100;
  height: calc(100% - 56px);
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  div#page {
    height: calc(100% - 120px);
  }
}


div.app-progress {
  width: 100%;
}

#app-nav-drawer {
  margin-left: 0px;
  top: 0px;
  height: 100%;
  padding: 0px;
}

#app-modal-list-content, #app-nav-drawer-content {
  padding: 0px;
}

button.app-modal-button {
  text-align: left;
  text-transform: none;
}
