body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

#show-item-header, #edit-item-header {
   background3: #00695c;
   background2: #009688;
   background: white;
   color: #00695c;
}

div.item-markdown {
  max-height: 52px;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

div#show-item-content {
  width: 100%;
}

#edit-item-header {
   position: absolute;
   top: 0px;
   left:0px;
   width: 100%;
}

#item-title-div, #item-markdown-div {
  /* required because want to position edit control using absolute */
  position: relative;
  /* border: solid 1px green; */
  /* margin-bottom: 4px; */
  width: 100%;
}

.item-markdown {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-title {
  font-size: 2.0em;
  line-height: 1.0em;
  color: #F57C00;
  outline: none;
  border-bottom: solid 2px white;
}

.item-title[contenteditable="true"] {
  border-bottom: solid 2px #F57C00;
}

#item-types-div {
  /* required because want to position edit control using absolute */
  position: relative;
  /* border: solid 1px green; */
}

.right-control {
  color2:gray;
  background:rgba(255,255,255,0.6);
  -webkit-border-radius2:24px;
  position:absolute;
  right:0px;
  top:0px;
  cursor2:pointer;
}

.title-placeholder, .markdown-placeholder  {
  color: #aaa;
  font-style: italic;
}

div.show-item-footer {
  margin-top: 50px;
  border-top: solid 1px gray;
}

.left-content {
  width: 80%;
}

.right-controls {
  width: 20%;
}

.padded-container {
  padding: 10px;
}

.edit-controls {
  text-align: right;
}



#edit-item-content {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100px;
  overflow: auto;
}

.item-meta {
  padding-top: 20px;
  border-bottom: solid 1px gray;
  padding-bottom: 20px;
}

img.img-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.item-body {
  border2: solid 1px gray;
  padding2: 10px;
  margin: 10px;
  font-size: 1em;
}

.edit-item-body {
  padding: 0px;
  font-size: 0.5em;
  height: 100px;
  background: yellow;
  overflow: hidden;
}

.card {
  background: white;
  margin: 10px;
  padding: 10px;
  border2: solid 1px #c5c5c5;
}

.item-type {
  padding: 2px;
  width: 28px;
  height: 28px;
  border: solid 2px gray;
  border-radius: 4px;
  color: gray;
}

.item-type i.material-icons {
  font-size: 26px;
}


.img-container{
  position: relative;
  width: 100%;
  height: 200px;
  background: blue;
}

.img-container img {
  width: 100%;
  height: auto;
}

@supports(object-fit: cover) {
    .img-container img {
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.img-container div.img-title {
  width: 100%;
  position: absolute;
  font-size: 1.4em;
  bottom: 0px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
}

.img-container div.top {
  width: 100%;
  position: absolute;
  top: 0px;
  background2: rgba(255, 0, 0, 0.3);
}

.img-title-inner, .item-type-inner {
  padding: 10px;
}

.img-container .item-type {
  border-color: white;
  box-shadow: 2px 2px 8px black;
}

.img-container .material-icons {
  color: white;
  text-shadow: 2px 2px 8px black;
}

div.elapsed {
  color: gray;
  width: 2.0em;
  text-align: right;
}

span.wiki-name-span {
  color: #F57C00;
  font-weight: bold;
}

div.item-row i, div.item-row a.name, div.item-row div.elapsed {
  line-height: 18px;
  font-size: 100%;
}

div.item-row a.name {
  width: 80%;
}

table.fields {
 width: 100%;
}

td.field-value {
  padding-bottom: 16px;
  border-bottom: solid 1px #b5b5b5;
}

td.unset {
  color: gray;
  font-style: italic;
}

span.attr-link {
  border: solid 1px white;
  border-radius2: 16px;
  display: inline-block;
  background: #d5d5d5;
  height: 32px;
}

div.spacer {
  display: inline-block;
  width: 10px;
}

div.attr-link {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 1px;
}

div.attr-link-container {
  display: flex;
}

div.attr-link-container div {
  background: #d5d5d5;
  padding-left: 8px;
  padding-right: 8px;
  height: 36px;
  line-height: 36px;

}

div.attr-link-container div.img-circle {
  padding-left: 0px;
  padding-right: 0px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

div.attr-link-container div.divider {
  padding-left: 0px;
  padding-right: 0px;
  border-left: solid 1px white;
  border-right: solid 1px gray;
}

span.user-link {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

a {
  color: #0066CC;
  text-decoration: none;
}

a.external-link:after, a.external-link:after {
  content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
  margin: 0 0 0 3px;
}

.body-content {
  height: 200px;
  overflow: hidden;
}

div.comment-on-div, div.parent-div, div.wiki-name-div {
  font-size: 80%;
  border: solid 1px gray;
  display: inline;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-border-radius: 4px;
}

blockquote {
    display: block;
    padding-left: 16px;
    border-left: solid 4px red;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 1em;
    -webkit-margin-end: 1em;
}

textarea {
  outline: none;
}

textarea#edit-body-content, input#edit-item-name, input#edit-item-wiki-name {
  padding: 4px;
  background: white;
  width: 100%;
  border: solid 1px gray;
  color: black;
  font-size: 1.0em;
  line-height: 1.4em;
}

textarea#edit-item-markdown {
  background2: #FFF4F4;
  color: black;
  width: 100%;
  height: 50%;
  font-size: 1.0em;
  line-height: 1.4em;
  margin-top: 4px;
  font-family: "Helvetica","Arial",sans-serif;
  border: 0px;
}

input#edit-item-wiki-name {
  margin-top: 4px;
}

textarea#edit-body-content {
  background: #e5e5e5;
  color: gray;
  height: 200px;
}

tr.field {
  border2:solid 1px blue;
}

tr.field td {
  padding-top: 10px;
  vertical-align: top;
}



span.edit-control-span {
  padding-left: 10px;
  cursor: pointer;
}

td.field-icon, td.field-cntrl, span.edit-control-span {
  width: 40px;
  text-align: center;
  border3: solid 1px red;
}

td.field-icon i.material-icons, td.field-cntrl i.material-icons, span.edit-control-span i.material-icons {
  color: gray;
  border3: solid 1px green;
}

.btn {
  color: #0000a0;
  text-decoration2: underline;
  cursor: pointer;
}

div.left {
  float: left;
  border2: solid 1px gray;
  background2: #e5e5FF;
}

div.right {
  float: right;
  border2: solid 1px gray;
  background2: #FFe5e5;
}
