body {
  background: white;
  margin: 0;
  padding: 0;
}

#show-item-header, #edit-item-header {
   background3: #00695c;
   background2: #009688;
   background: white;
   color: #00695c;
}

#edit-item-header {
   position: absolute;
   top: 0px;
   left:0px;
   width: 100%;
}

#show-item-header #item-title {
  font-size: 1.4em;
  padding: 10px;
}

#edit-item-header #item-title {
  margin-left: 40px;
  padding: 10px;
  font-size: 1.4em;
}

#show-item-content {
}

#edit-item-content {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;
  height: 100px;
  overflow: auto;
}

.edit-item-meta {
  padding-top: 20px;
  border-bottom: solid 1px gray;
  padding-bottom: 20px;
}

.img-circle {
    width: 40px;
    border-radius: 50%;
}

.item-body {
  border2: solid 1px gray;
  padding2: 10px;
  margin: 10px;
  font-size: 1em;
}

.edit-item-body {
  padding: 0px;
  font-size: 0.5em;
  height: 100px;
  background: yellow;
  overflow: hidden;
}

.card {
  background: white;
  margin: 10px;
  padding: 10px;
  border: solid 1px #c5c5c5;
}

.item-type {
  padding: 2px;
  width: 28px;
  height: 28px;
  border: solid 2px gray;
  border-radius: 4px;
  color: gray;
}

.item-type i.material-icons {
  font-size: 28px;
}

table.fields {
 width: 100%;
}

td.field-value {
  padding-bottom: 16px;
  border-bottom: solid 1px #b5b5b5;
}

td.unset {
  color: gray;
  font-style: italic;
}

.body-content {
  height: 200px;
  overflow: hidden;
}


tr.field td {
  padding-top: 10px;
  vertical-align: top;  
}

td.field-icon, td.field-del {
  width: 40px;
  text-align: center;
}

td.field-icon i.material-icons, td.field-del i.material-icons { 
  color: gray; 
}

.btn {
  color: #0000a0;
  text-decoration2: underline;
  cursor: pointer;
}